* {
  font-family: "Noto Serif", serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* shared style */
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}
.marzin {
  margin-top: 120px;
}
/* nav style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  display: flex;
  gap: 48px;
}
.nav-item {
  list-style: none;
}
.nav-links {
  text-decoration: none;
  font-weight: 400;
  color: #8987a1;
}
#home {
  font-weight: 700;
  color: #252432;
}
#cart {
  color: #000000;
  list-style: none;
}
/* nav style finidh from here */
/* banner start from here */
.banner {
  display: flex;
  align-items: flex-end;
}
.always {
  font-weight: 700;
  font-size: 4rem;
  color: #000000;
}
.fresh-flower {
  font-weight: 700;
  font-size: 4rem;
  color: #e95a08;
}
.banner-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: #00000080;
}
.banner-content {
  padding: 10px;
}
/* banner finish */
/* plant section */
.plant-title {
  text-align: center;
}
.our {
  font-weight: 700;
  font-size: 3.8rem;
  color: #e95a08;
}
.plants {
  font-weight: 700;
  font-size: 3.8rem;
  color: #000000;
}
.plant-descripion {
  font-weight: 400;
  font-size: 1.2rem;
  color: #00000080;
}
.card-item {
  text-align: center;
  margin-top: 50px;

  max-width: 270px;
  /* height:300px ; */
}
.card-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-name {
  font-weight: 500;
  font-size: 1.2rem;
  color: #111111;
}
.product-price {
  font-weight: 700;
  font-size: 1.2rem;
}
.btn-primary {
  background-color: #e95a08;
  border: none;
  margin: 30px 0px;
  padding: 8px;
  font-weight: 600;
  color: #ffffff;
  font-size: 1rem;
  width: 270px;
}
/* lover section */
.lover-parent {
  display: flex;
}
.lover-size {
  max-width: 650px;
  margin-top: -20px;
}
.lover-title {
  margin: 50px;
  font-weight: 500;
  font-size: 3.25rem;
}
.lover-description {
  margin: 50px;
  font-weight: 400;
  font-size: 1.25rem;
  color: #00000080;
}
.lover-content {
  margin: 20px;
}
/* join section */
.join-parent {
  background-image: url("./assets/news-letter-bg.png");
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
}
.join-items {
  text-align: center;
  padding-top: 200px;
}

.join-title {
  font-weight: 700;
  font-size: 3.25rem;
  color: white;
}
.join-items input {
  border: none;
  width: 600px;
  height: 40px;
  margin-top: 20px;
  padding: 8px 20px;
  font-weight: 400;
  color: #00000080;
}
.join-items button {
  width: 180px;
  height: 40px;
  background-color: #e95a08;
  font-weight: 600;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}
.input-parent {
  display: flex;
  justify-content: center;
}
/* join section close */
/* footer start */
.footer-item-parent {
  max-width: 600px;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  
}
.footer-item-icon {
  max-width: 230px;
  margin: 35px;
}
.footer-item-parent li {
  list-style: none;
  margin: 15px;
}
.footer-item-parent li a {
  text-decoration: none;
  color: #6b7280;
  font-weight: 400;
}
.display-flex {
  display: flex;
}
.footer-title {
  max-width: 350px;
  margin: 30px;
}
.footer-title p {
  font-weight: 400;
  font-size: 1.25rem;
  color: #00000080;
}

/* latest section */
.latest-title,
.latest-description {
  text-align: center;
}
.latest {
  font-weight: 700;
  font-size: 3.25rem;
  color: #e95a08;
}
.deals {
  font-weight: 700;
  font-size: 3.25rem;
  color: #000000;
}
.latest-description {
  font-weight: 400;
  font-size: 1.25rem;
  color: #00000080;
}
.latest-cart-parent {
  display: flex;
}
.latest-cart {
  width: 360px;
  height: 206px;
  border-radius: 20px;
  margin: 28px;
  text-align: center;
  padding-top: 70px;
}
.latest-cart h3 {
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}
.latest-cart a {
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}
.latest-cart-2 {
  width: 730px;
  height: 423px;
  border-radius: 20px;
  text-align: center;
  padding: 180px 0;
  margin-top: 30px;
}
.latest-cart-2 h3 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
.latest-cart-2 a {
  font-weight: 400;
  font-size: 2rem;
  color: white;
}
#cart-1 {
  background-image: url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
  display: block;
}
#cart-2 {
  background-image: url("./assets/deal-ana.png");
  background-repeat: no-repeat;
  display: block;
}
#cart-3 {
  background-image: url("./assets/deal-zabo.png");
}
/* cart section complete */

@media screen and (max-width: 576px) {
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0 auto;
  }
  .card-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .lover-parent {
    flex-direction: column;
  }
  .latest-cart-parent {
    flex-direction: column;
  }
  .latest-cart-2 {
    width: 360px;
    height: 206px;
    border-radius: 20px;
    margin: 28px;
    text-align: center;
    padding-top: 70px;
  }
  .join-parent {
    margin-left: 30px;
  }
  .display-flex {
    flex-direction: column;
    gap: 50px;
  }
  .footer-item-parent
  {
   grid-template-columns: 1fr;
   align-items: center;
  }

}
